# Домашнее задание к лекции «Исключения и обработка ошибок»

## Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:  
The Moscow Times — Wednesday, October 2, 2002  
The Guardian — Friday, 11.10.13  
Daily News — Thursday, 18 August 1977

In [ ]:
from datetime import datetime

In [ ]:
newspapers = {'The Moscow Times': 'Wednesday, October 2, 2002', 'The Guardian': 'Friday, 11.10.13', 'Daily News': 'Thursday, 18 August 1977'}

for newspaper, date in newspapers.items():
  if newspaper == 'The Moscow Times':
    date_datetime = datetime.strptime(date, '%A, %B %d, %Y')
    print(newspaper, date_datetime)
  elif newspaper == 'The Guardian':
    date_datetime = datetime.strptime(date, '%A, %m.%d.%y')
    print(newspaper, date_datetime)
  elif newspaper == 'Daily News':
    date_datetime = datetime.strptime(date, '%A, %d %B %Y')
    print(newspaper, date_datetime)
  else:
    print(newspaper, 'Для данной газеты не прописан формат даты')

The Moscow Times 2002-10-02 00:00:00
The Guardian 2013-11-10 00:00:00
Daily News 1977-08-18 00:00:00

## Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:  
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность.  
То есть для каждой даты возвращает True — дата корректна или False — некорректная.

In [ ]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

def check_date(date_list):
  for date in date_list:
    try:
      date_datetime = datetime.strptime(date, '%Y-%m-%d')
      print(f'Дата {date_datetime} задана корректно')
    except:
      print(f'Дата {date} задана некорректно')
      pass

In [ ]:
check_date(stream)

Дата 2018-04-02 00:00:00 задана корректно
Дата 2018-02-29 задана некорректно
Дата 2018-19-02 задана некорректно

## Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date.   
Даты должны вводиться в формате YYYY-MM-DD.   
В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [ ]:
from datetime import timedelta

In [ ]:
def date_range():
  list_of_date = []
  start_date = input('Введите дату начала в формате YYYY-MM-DD')
  try:
    start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
  except ValueError:
    return print(f'Неверный формат даты. Список пуст {list_of_date}')
  end_date = input('Введите дату окончания в формате YYYY-MM-DD')
  try:
    end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')
  except:
    return print(f'Неверный формат даты. Список пуст {list_of_date}')
  current_date_dt = start_date_dt
  if current_date_dt >= end_date_dt:
    print('Неверно задан диапазон дат: указанная дата начала больше или равна дате окончания')
  else:
    while current_date_dt < end_date_dt:
        list_of_date.append(current_date_dt.strftime('%Y-%m-%d'))
        current_date_dt += timedelta(days = 1)
  print(f'Список дат за период: {list_of_date}')

In [ ]:
date_range()

Введите дату начала в формате YYYY-MM-DD2020-02-15
Введите дату окончания в формате YYYY-MM-DD2020-03-05
Список дат за период: ['2020-02-15', '2020-02-16', '2020-02-17', '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22', '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28', '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04']

In [ ]:
date_range()

Введите дату начала в формате YYYY-MM-DDолиди
Неверный формат даты. Список пуст []

In [ ]:
date_range()

Введите дату начала в формате YYYY-MM-DD2023-05-31
Введите дату окончания в формате YYYY-MM-DD2023-05-30
Неверно задан диапазон дат: указанная дата начала больше или равна дате окончания
Список дат за период: []

## Задание 4 (необязательное)
Ваш коллега прислал код функции:  

DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=[‘A100’, ‘A101’, ‘A102’]):  
""“  
Удаляет из списка default_list последнего пользователя  
и возвращает ID нового последнего пользователя.  
”""  
element_to_delete = default_list[-1]  
default_list.remove(element_to_delete)  

1  
return default_list[DEFAULT_USER_COUNT-2]  
При однократном вызове этой функции всё работает корректно:  
delete_and_return_last_user(1)  
‘A101’  

Однако при повторном вызове получается ошибка IndexError: list index out of range.  

Задание:  

Что значит ошибка list index out of range?  
Почему при первом запуске функция работает корректно, а при втором — нет?

In [ ]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
  """
  Удаляет из списка default_list последнего пользователя
  и возвращает ID нового последнего пользователя.
  """
  element_to_delete = default_list[-1]
  default_list.remove(element_to_delete)
  return default_list[DEFAULT_USER_COUNT-2]

In [ ]:
delete_and_return_last_user(1)

IndexError: ignored

In [ ]:
default_list

['A100', 'A101', 'A102']

###Что значит ошибка list index out of range?
Данная ошибка означает, что была попытка обратиться к элементу списка с несуществующим индексом

### Почему при первом запуске функция работает корректно, а при втором — нет?
При первом запуске функции мы обращаемся к списку из трех элементов, которые имеет индексы [0,1,2], удаляем из него последний элемент, получаем измененный список из двух значений с индексами [0,1].  
Далее мы вызываем из этого списка элемент с индексом [1] т.е. последний (DEFAULT_USER_COUNT-2 = 3 - 2 = 1)  
При втором обращении мы уже работаем со списком из двух элементов. Индексы будут [0,1]. Из этого списка мы удаляем последний элемент, получаем список из одного элемента.
Применив выражение DEFAULT_USER_COUNT-2, получаем индекс [1], которого нет в нашем списке (поскольку в списке теперь 1 элемент, он имеет индекс либо [0] либо [-1])

### Исправленная функция

In [ ]:
def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
  """
  Удаляет из списка default_list последнего пользователя
  и возвращает ID нового последнего пользователя.
  """
  try:
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    return default_list[len(default_list)-1]
  except IndexError:
    print('Тут больше нет элементов. Все удалили')

In [ ]:
delete_and_return_last_user(1)

Тут больше нет элементов. Все удалили