# Pandas

In [ ]:
import pandas as pd

# Задание №1 
Загрузите в колаб файлы по оценкам (ratings) и фильмам (movies) и создайте на их основе pandas-датафреймы

In [ ]:
movies = pd.read_csv('u.item.csv', sep="|", encoding='latin-1', names=['movie id', 'movie title', 'release date', 'video release date', 'IMDb URL', 'unknown', 'Action', 
                                                                         'Adventure', 'Animation', 'Children_s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
                                                                         'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'])
ratings = pd.read_csv('u.data.csv', sep="\t", encoding='latin-1', names=['user id', 'item id', 'rating', 'timestamp'])

In [ ]:
movies.head()

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children_s,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
ratings.head()

   user id  item id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

# Задание №2
Средствами Pandas, используя dataframe ratings, найдите id пользователя, поставившего больше всего оценок

In [ ]:
ratings_small = ratings[['user id', 'rating']]
ratings_small.head()

   user id  rating
0      196       3
1      186       3
2       22       1
3      244       2
4      166       1

In [ ]:
ratings_user = ratings_small.groupby('user id').count()['rating'].sort_values(ascending=False)
ratings_user.head(1)
#ratings_user.max()

user id
405    737
Name: rating, dtype: int64

# Задание №3
Оставьте в датафрейме ratings только те фильмы, который оценил данный пользователь

In [ ]:
df = ratings.loc[ratings['user id'] == 405]
df.head()

       user id  item id  rating  timestamp
12276      405       56       4  885544911
12383      405      592       1  885548670
12430      405     1582       1  885548670
12449      405      171       1  885549544
12460      405      580       1  885547447

# Задание №4
Добавьте к датафрейму из задания 3 столбцы:
По жанрам. Каждый столбец - это жанр. Единицу записываем, если фильм принадлежит данному жанру и 0 - если нет

In [ ]:
df = df.rename(columns={'item id': 'movie id'})
df.head()

       user id  movie id  rating  timestamp
12276      405        56       4  885544911
12383      405       592       1  885548670
12430      405      1582       1  885548670
12449      405       171       1  885549544
12460      405       580       1  885547447

In [ ]:
df_merged = df.merge(movies, left_on='movie id', right_on='movie id', how='inner')
df_merged.head()

,user id,movie id,rating,timestamp,movie title,release date,video release date,IMDb URL,unknown,Action,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,405,56,4,885544911,Pulp Fiction (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Pulp%20Fictio...,0,0,...,0,0,0,0,0,0,0,0,0,0
1,405,592,1,885548670,True Crime (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?True%20Crime%...,0,0,...,0,0,0,0,1,0,0,1,0,0
2,405,1582,1,885548670,T-Men (1947),01-Jan-1947,NaN,http://us.imdb.com/M/title-exact?T-Men%20(1947),0,0,...,0,1,0,0,0,0,0,0,0,0
3,405,171,1,885549544,Delicatessen (1991),01-Jan-1991,NaN,http://us.imdb.com/M/title-exact?Delicatessen%...,0,0,...,0,0,0,0,0,0,1,0,0,0
4,405,580,1,885547447,"Englishman Who Went Up a Hill, But Came Down a...",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Englishman%20...,0,0,...,0,0,0,0,0,1,0,0,0,0

столбцы с общим количеством оценок от всех пользователей на фильм и суммарной оценкой от всех пользователей

In [ ]:
df_small_1 = ratings[['item id', 'rating']]
df_small_1.head()

   item id  rating
0      242       3
1      302       3
2      377       1
3       51       2
4      346       1

In [ ]:
df_small_2 = df_small_1.groupby('item id').agg(['count', 'sum']).reset_index()

In [ ]:
df_small_2=df_small_2.rename(columns={'item id':'movie id'})

In [ ]:
df_small_2.head()

  movie id rating
            count   sum
0        1    452  1753
1        2    131   420
2        3     90   273
3        4    209   742
4        5     86   284

In [ ]:
df_merged = df_merged.merge(df_small_2, left_on='movie id', right_on='movie id', how='inner')
df_merged.head()

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:9190: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left,2 on the right)
  return merge(

,user id,movie id,rating,timestamp,movie title,release date,video release date,IMDb URL,unknown,Action,...,Mystery,Romance,Sci-Fi,Thriller,War,Western,"('rating', 'count')_x","('rating', 'sum')_x","(rating, count)","(rating, sum)"
0,405,56,4,885544911,Pulp Fiction (1994),1994-01-01,NaN,http://us.imdb.com/M/title-exact?Pulp%20Fictio...,0,0,...,0,0,0,0,0,0,394,1600,394,1600
1,405,592,1,885548670,True Crime (1995),1995-01-01,NaN,http://us.imdb.com/M/title-exact?True%20Crime%...,0,0,...,1,0,0,1,0,0,9,30,9,30
2,405,1582,1,885548670,T-Men (1947),1947-01-01,NaN,http://us.imdb.com/M/title-exact?T-Men%20(1947),0,0,...,0,0,0,0,0,0,1,1,1,1
3,405,171,1,885549544,Delicatessen (1991),1991-01-01,NaN,http://us.imdb.com/M/title-exact?Delicatessen%...,0,0,...,0,0,1,0,0,0,65,252,65,252
4,405,580,1,885547447,"Englishman Who Went Up a Hill, But Came Down a...",1995-01-01,NaN,http://us.imdb.com/M/title-exact?Englishman%20...,0,0,...,0,1,0,0,0,0,32,108,32,108

Warning: Total number of columns (31) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
df_merged.columns

Index([              'user id',              'movie id',
                      'rating',             'timestamp',
                 'movie title',          'release date',
          'video release date',              'IMDb URL',
                     'unknown',                'Action',
                   'Adventure',             'Animation',
                  'Children_s',                'Comedy',
                       'Crime',           'Documentary',
                       'Drama',               'Fantasy',
                   'Film-Noir',                'Horror',
                     'Musical',               'Mystery',
                     'Romance',                'Sci-Fi',
                    'Thriller',                   'War',
                     'Western', '('rating', 'count')_x',
         '('rating', 'sum')_x',     ('rating', 'count'),
             ('rating', 'sum')],
      dtype='object')

In [ ]:
df_merged['release date']=pd.to_datetime(df_merged['release date'], errors='coerce')

In [ ]:
df_merged.head()

,user id,movie id,rating,timestamp,movie title,release date,video release date,IMDb URL,unknown,Action,...,Mystery,Romance,Sci-Fi,Thriller,War,Western,"('rating', 'count')_x","('rating', 'sum')_x","(rating, count)","(rating, sum)"
0,405,56,4,885544911,Pulp Fiction (1994),1994-01-01,NaN,http://us.imdb.com/M/title-exact?Pulp%20Fictio...,0,0,...,0,0,0,0,0,0,394,1600,394,1600
1,405,592,1,885548670,True Crime (1995),1995-01-01,NaN,http://us.imdb.com/M/title-exact?True%20Crime%...,0,0,...,1,0,0,1,0,0,9,30,9,30
2,405,1582,1,885548670,T-Men (1947),1947-01-01,NaN,http://us.imdb.com/M/title-exact?T-Men%20(1947),0,0,...,0,0,0,0,0,0,1,1,1,1
3,405,171,1,885549544,Delicatessen (1991),1991-01-01,NaN,http://us.imdb.com/M/title-exact?Delicatessen%...,0,0,...,0,0,1,0,0,0,65,252,65,252
4,405,580,1,885547447,"Englishman Who Went Up a Hill, But Came Down a...",1995-01-01,NaN,http://us.imdb.com/M/title-exact?Englishman%20...,0,0,...,0,1,0,0,0,0,32,108,32,108

In [ ]:
df_for_modeling = df_merged[['movie id', 'rating', 'unknown', 'Action', 'Adventure', 'Animation', 'Children_s', 'Comedy', 'Crime',
                             'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
                             'Thriller', 'War', 'Western', ('rating', 'count'),    ('rating', 'sum')]]
df_for_modeling.head()

/usr/local/lib/python3.8/dist-packages/pandas/core/common.py:241: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  result = np.asarray(values, dtype=dtype)

,movie id,rating,unknown,Action,Adventure,Animation,Children_s,Comedy,Crime,Documentary,...,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,"(rating, count)","(rating, sum)"
0,56,4,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,394,1600
1,592,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,9,30
2,1582,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,171,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,65,252
4,580,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,32,108

In [ ]:
df_for_modeling = df_for_modeling.rename(columns={('rating', 'count'): 'count', ('rating', 'sum'): 'sum'})
df_for_modeling.head()

,movie id,rating,unknown,Action,Adventure,Animation,Children_s,Comedy,Crime,Documentary,...,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,count,sum
0,56,4,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,394,1600
1,592,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,9,30
2,1582,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,171,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,65,252
4,580,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,32,108

Warning: Total number of columns (23) exceeds max_columns (20) limiting to first (20) columns.

# Задание №5
Сформируйте X_train, X_test, y_train, y_test

In [ ]:
X, y = df_for_modeling[['movie id', 'unknown', 'Action', 'Adventure', 'Animation', 'Children_s', 'Comedy', 'Crime',
                             'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
                             'Thriller', 'War', 'Western', 'count', 'sum']], df_for_modeling[['rating']]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
X_train.head()

,movie id,unknown,Action,Adventure,Animation,Children_s,Comedy,Crime,Documentary,Drama,...,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,count,sum
489,438,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,6,7
471,143,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,222,836
555,747,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,102,353
495,794,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,46,168
423,433,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,171,631

# Задание №6
Возьмите модель линейной регрессии (или любую другую для задачи регрессии)  и обучите ее на фильмах

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X_train, y_train)

LinearRegression()

# Задание №7
Оцените качество модели на X_test, y_test при помощи метрик для задачи регрессии

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_train, model.predict(X_train))

1.2261475626564333

In [ ]:
mean_squared_error(y_test, model.predict(X_test))

1.0922806382957713

# Spark

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop3.tgz
!tar -xvf spark-3.3.1-bin-hadoop3.tgz
!pip install -q findspark

spark-3.3.1-bin-hadoop3/
spark-3.3.1-bin-hadoop3/LICENSE
spark-3.3.1-bin-hadoop3/NOTICE
spark-3.3.1-bin-hadoop3/R/
spark-3.3.1-bin-hadoop3/R/lib/
spark-3.3.1-bin-hadoop3/R/lib/SparkR/
spark-3.3.1-bin-hadoop3/R/lib/SparkR/DESCRIPTION
spark-3.3.1-bin-hadoop3/R/lib/SparkR/INDEX
spark-3.3.1-bin-hadoop3/R/lib/SparkR/Meta/
spark-3.3.1-bin-hadoop3/R/lib/SparkR/Meta/Rd.rds
spark-3.3.1-bin-hadoop3/R/lib/SparkR/Meta/features.rds
spark-3.3.1-bin-hadoop3/R/lib/SparkR/Meta/hsearch.rds
spark-3.3.1-bin-hadoop3/R/lib/SparkR/Meta/links.rds
spark-3.3.1-bin-hadoop3/R/lib/SparkR/Meta/nsInfo.rds
spark-3.3.1-bin-hadoop3/R/lib/SparkR/Meta/package.rds
spark-3.3.1-bin-hadoop3/R/lib/SparkR/Meta/vignette.rds
spark-3.3.1-bin-hadoop3/R/lib/SparkR/NAMESPACE
spark-3.3.1-bin-hadoop3/R/lib/SparkR/R/
spark-3.3.1-bin-hadoop3/R/lib/SparkR/R/SparkR
spark-3.3.1-bin-hadoop3/R/lib/SparkR/R/SparkR.rdb
spark-3.3.1-bin-hadoop3/R/lib/SparkR/R/SparkR.rdx
spark-3.3.1-bin-hadoop3/R/lib/SparkR/doc/
spark-3.3.1-bin-hadoop3/R/lib/SparkR/doc/index.html
spark-3.3.1-bin-hadoop3/R/lib/SparkR/doc/sparkr-vignettes.R
spark-3.3.1-bin-hadoop3/R/lib/SparkR/doc/sparkr-vignettes.Rmd
spark-3.3.1-bin-hadoop3/R/lib/SparkR/doc/sparkr-vignettes.html
spark-3.3.1-bin-hadoop3/R/lib/SparkR/help/
spark-3.3.1-bin-hadoop3/R/lib/SparkR/help/AnIndex
spark-3.3.1-bin-hadoop3/R/lib/SparkR/help/SparkR.rdb
spark-3.3.1-bin-hadoop3/R/lib/SparkR/help/SparkR.rdx
spark-3.3.1-bin-hadoop3/R/lib/SparkR/help/aliases.rds
spark-3.3.1-bin-hadoop3/R/lib/SparkR/help/paths.rds
spark-3.3.1-bin-hadoop3/R/lib/SparkR/html/
spark-3.3.1-bin-hadoop3/R/lib/SparkR/html/00Index.html
spark-3.3.1-bin-hadoop3/R/lib/SparkR/html/R.css
spark-3.3.1-bin-hadoop3/R/lib/SparkR/profile/
spark-3.3.1-bin-hadoop3/R/lib/SparkR/profile/general.R
spark-3.3.1-bin-hadoop3/R/lib/SparkR/profile/shell.R
spark-3.3.1-bin-hadoop3/R/lib/SparkR/tests/
spark-3.3.1-bin-hadoop3/R/lib/SparkR/tests/testthat/
spark-3.3.1-bin-hadoop3/R/lib/SparkR/tests/testthat/test_basic.R
spark-3.3.1-bin-hadoop3/R/lib/SparkR/worker/
spark-3.3.1-bin-hadoop3/R/lib/SparkR/worker/daemon.R
spark-3.3.1-bin-hadoop3/R/lib/SparkR/worker/worker.R
spark-3.3.1-bin-hadoop3/R/lib/sparkr.zip
spark-3.3.1-bin-hadoop3/README.md
spark-3.3.1-bin-hadoop3/RELEASE
spark-3.3.1-bin-hadoop3/bin/
spark-3.3.1-bin-hadoop3/bin/beeline
spark-3.3.1-bin-hadoop3/bin/beeline.cmd
spark-3.3.1-bin-hadoop3/bin/docker-image-tool.sh
spark-3.3.1-bin-hadoop3/bin/find-spark-home
spark-3.3.1-bin-hadoop3/bin/find-spark-home.cmd
spark-3.3.1-bin-hadoop3/bin/load-spark-env.cmd
spark-3.3.1-bin-hadoop3/bin/load-spark-env.sh
spark-3.3.1-bin-hadoop3/bin/pyspark
spark-3.3.1-bin-hadoop3/bin/pyspark.cmd
spark-3.3.1-bin-hadoop3/bin/pyspark2.cmd
spark-3.3.1-bin-hadoop3/bin/run-example
spark-3.3.1-bin-hadoop3/bin/run-example.cmd
spark-3.3.1-bin-hadoop3/bin/spark-class
spark-3.3.1-bin-hadoop3/bin/spark-class.cmd
spark-3.3.1-bin-hadoop3/bin/spark-class2.cmd
spark-3.3.1-bin-hadoop3/bin/spark-shell
spark-3.3.1-bin-hadoop3/bin/spark-shell.cmd
spark-3.3.1-bin-hadoop3/bin/spark-shell2.cmd
spark-3.3.1-bin-hadoop3/bin/spark-sql
spark-3.3.1-bin-hadoop3/bin/spark-sql.cmd
spark-3.3.1-bin-hadoop3/bin/spark-sql2.cmd
spark-3.3.1-bin-hadoop3/bin/spark-submit
spark-3.3.1-bin-hadoop3/bin/spark-submit.cmd
spark-3.3.1-bin-hadoop3/bin/spark-submit2.cmd
spark-3.3.1-bin-hadoop3/bin/sparkR
spark-3.3.1-bin-hadoop3/bin/sparkR.cmd
spark-3.3.1-bin-hadoop3/bin/sparkR2.cmd
spark-3.3.1-bin-hadoop3/conf/
spark-3.3.1-bin-hadoop3/conf/fairscheduler.xml.template
spark-3.3.1-bin-hadoop3/conf/log4j2.properties.template
spark-3.3.1-bin-hadoop3/conf/metrics.properties.template
spark-3.3.1-bin-hadoop3/conf/spark-defaults.conf.template
spark-3.3.1-bin-hadoop3/conf/spark-env.sh.template
spark-3.3.1-bin-hadoop3/conf/workers.template
spark-3.3.1-bin-hadoop3/data/
spark-3.3.1-bin-hadoop3/data/graphx/
spark-3.3.1-bin-hadoop3/data/graphx/followers.txt
spark-3.3.1-bin-hadoop3/data/graphx/users.txt
spark-3.3.1-bin-hadoop3/data/mllib/
spark-3.3.1-bin-hadoop3/data/mllib/als/
spark-3.3.1-bin-hadoop3/data/mllib/als/sample_movielens_ratings.txt
spark-3.3.1-bin-hadoop3/data/mllib/als/test.data
spark-3.3.1-bin-hadoop3/data/mllib/gmm_data.txt
spark-3.3.1-bin-hadoop3/data/mllib/images/
spark-3.3.1-bin-hadoop3/data/mllib/images/license.txt
spark-3.3.1-bin-hadoop3/data/mllib/images/origin/
spark-3.3.1-bin-hadoop3/data/mllib/images/origin/kittens/
spark-3.3.1-bin-hadoop3/data/mllib/images/origin/kittens/29.5.a_b_EGDP022204.jpg
spark-3.3.1-bin-hadoop3/data/mllib/images/origin/kittens/54893.jpg
spark-3.3.1-bin-hadoop3/data/mllib/images/origin/kittens/DP153539.jpg
spark-3.3.1-bin-hadoop3/data/mllib/images/origin/kittens/DP802813.jpg
spark-3.3.1-bin-hadoop3/data/mllib/images/origin/kittens/not-image.txt
spark-3.3.1-bin-hadoop3/data/mllib/images/origin/license.txt
spark-3.3.1-bin-hadoop3/data/mllib/images/origin/multi-channel/
spark-3.3.1-bin-hadoop3/data/mllib/images/origin/multi-channel/BGRA.png
spark-3.3.1-bin-hadoop3/data/mllib/images/origin/multi-channel/BGRA_alpha_60.png
spark-3.3.1-bin-hadoop3/data/mllib/images/origin/multi-channel/chr30.4.184.jpg
spark-3.3.1-bin-hadoop3/data/mllib/images/origin/multi-channel/grayscale.jpg
spark-3.3.1-bin-hadoop3/data/mllib/kmeans_data.txt
spark-3.3.1-bin-hadoop3/data/mllib/pagerank_data.txt
spark-3.3.1-bin-hadoop3/data/mllib/pic_data.txt
spark-3.3.1-bin-hadoop3/data/mllib/ridge-data/
spark-3.3.1-bin-hadoop3/data/mllib/ridge-data/lpsa.data
spark-3.3.1-bin-hadoop3/data/mllib/sample_binary_classification_data.txt
spark-3.3.1-bin-hadoop3/data/mllib/sample_fpgrowth.txt
spark-3.3.1-bin-hadoop3/data/mllib/sample_isotonic_regression_libsvm_data.txt
spark-3.3.1-bin-hadoop3/data/mllib/sample_kmeans_data.txt
spark-3.3.1-bin-hadoop3/data/mllib/sample_lda_data.txt
spark-3.3.1-bin-hadoop3/data/mllib/sample_lda_libsvm_data.txt
spark-3.3.1-bin-hadoop3/data/mllib/sample_libsvm_data.txt
spark-3.3.1-bin-hadoop3/data/mllib/sample_linear_regression_data.txt
spark-3.3.1-bin-hadoop3/data/mllib/sample_movielens_data.txt
spark-3.3.1-bin-hadoop3/data/mllib/sample_multiclass_classification_data.txt
spark-3.3.1-bin-hadoop3/data/mllib/sample_svm_data.txt
spark-3.3.1-bin-hadoop3/data/mllib/streaming_kmeans_data_test.txt
spark-3.3.1-bin-hadoop3/data/streaming/
spark-3.3.1-bin-hadoop3/data/streaming/AFINN-111.txt
spark-3.3.1-bin-hadoop3/examples/
spark-3.3.1-bin-hadoop3/examples/jars/
spark-3.3.1-bin-hadoop3/examples/jars/scopt_2.12-3.7.1.jar
spark-3.3.1-bin-hadoop3/examples/jars/spark-examples_2.12-3.3.1.jar
spark-3.3.1-bin-hadoop3/examples/src/
spark-3.3.1-bin-hadoop3/examples/src/main/
spark-3.3.1-bin-hadoop3/examples/src/main/java/
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/JavaHdfsLR.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/JavaLogQuery.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/JavaPageRank.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/JavaSparkPi.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/JavaStatusTrackerDemo.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/JavaTC.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/JavaWordCount.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaAFTSurvivalRegressionExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaALSExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaBinarizerExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaBisectingKMeansExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaBucketedRandomProjectionLSHExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaBucketizerExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaChiSqSelectorExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaChiSquareTestExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaCorrelationExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaCountVectorizerExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaDCTExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaDecisionTreeClassificationExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaDecisionTreeRegressionExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaDocument.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaElementwiseProductExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaEstimatorTransformerParamExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaFMClassifierExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaFMRegressorExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaFPGrowthExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaFeatureHasherExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaGaussianMixtureExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaGeneralizedLinearRegressionExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaGradientBoostedTreeClassifierExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaGradientBoostedTreeRegressorExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaImputerExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaIndexToStringExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaInteractionExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaIsotonicRegressionExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaKMeansExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaLDAExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaLabeledDocument.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaLinearRegressionWithElasticNetExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaLinearSVCExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaLogisticRegressionSummaryExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaLogisticRegressionWithElasticNetExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaMaxAbsScalerExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaMinHashLSHExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaMinMaxScalerExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaModelSelectionViaCrossValidationExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaModelSelectionViaTrainValidationSplitExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaMulticlassLogisticRegressionWithElasticNetExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaMultilayerPerceptronClassifierExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaNGramExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaNaiveBayesExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaNormalizerExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaOneHotEncoderExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaOneVsRestExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaPCAExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaPipelineExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaPolynomialExpansionExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaPowerIterationClusteringExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaPrefixSpanExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaQuantileDiscretizerExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaRFormulaExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaRandomForestClassifierExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaRandomForestRegressorExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaRobustScalerExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaSQLTransformerExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaStandardScalerExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaStopWordsRemoverExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaStringIndexerExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaSummarizerExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaTfIdfExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaTokenizerExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaUnivariateFeatureSelectorExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaVarianceThresholdSelectorExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaVectorAssemblerExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaVectorIndexerExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaVectorSizeHintExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaVectorSlicerExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaWord2VecExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaALS.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaAssociationRulesExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaBinaryClassificationMetricsExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaBisectingKMeansExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaChiSqSelectorExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaCorrelationsExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaDecisionTreeClassificationExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaDecisionTreeRegressionExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaElementwiseProductExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaGaussianMixtureExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaGradientBoostingClassificationExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaGradientBoostingRegressionExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaHypothesisTestingExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaHypothesisTestingKolmogorovSmirnovTestExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaIsotonicRegressionExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaKMeansExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaKernelDensityEstimationExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaLBFGSExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaLatentDirichletAllocationExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaLogisticRegressionWithLBFGSExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaMultiLabelClassificationMetricsExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaMulticlassClassificationMetricsExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaNaiveBayesExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaPCAExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaPowerIterationClusteringExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaPrefixSpanExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaRandomForestClassificationExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaRandomForestRegressionExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaRankingMetricsExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaRecommendationExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaSVDExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaSVMWithSGDExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaSimpleFPGrowth.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaStratifiedSamplingExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaStreamingTestExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/mllib/JavaSummaryStatisticsExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/sql/
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/sql/JavaSQLDataSourceExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/sql/JavaSparkSQLExample.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/sql/JavaUserDefinedScalar.java
spark-3.3.1-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/sql/JavaUserDefinedTypedAggregation.java

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop3"

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()

# Задание №8
Загрузить данные в spark

In [ ]:
data = spark.read.csv('u.data.csv', sep='\t', inferSchema=True, header=False).toDF('user id', 'item id', 'rating', 'timestamp')

In [ ]:
item = spark.read.csv('u.item.csv', sep='|', inferSchema=True, header=False).toDF('movie id', 'movie title', 'release date', 'video release date', 'IMDb URL', 'unknown', 'Action', 
                                                                         'Adventure', 'Animation', 'Children_s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
                                                                         'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western')

In [ ]:
data.show()

+-------+-------+------+---------+
|user id|item id|rating|timestamp|
+-------+-------+------+---------+
|    196|    242|     3|881250949|
|    186|    302|     3|891717742|
|     22|    377|     1|878887116|
|    244|     51|     2|880606923|
|    166|    346|     1|886397596|
|    298|    474|     4|884182806|
|    115|    265|     2|881171488|
|    253|    465|     5|891628467|
|    305|    451|     3|886324817|
|      6|     86|     3|883603013|
|     62|    257|     2|879372434|
|    286|   1014|     5|879781125|
|    200|    222|     5|876042340|
|    210|     40|     3|891035994|
|    224|     29|     3|888104457|
|    303|    785|     3|879485318|
|    122|    387|     5|879270459|
|    194|    274|     2|879539794|
|    291|   1042|     4|874834944|
|    234|   1184|     2|892079237|
+-------+-------+------+---------+
only showing top 20 rows

In [ ]:
item.show()

+--------+--------------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|movie id|         movie title|release date|video release date|            IMDb URL|unknown|Action|Adventure|Animation|Children_s|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western|
+--------+--------------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|       1|    Toy Story (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        1|         1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       2|    GoldenEye (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|       3|   Four Rooms (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|       4|   Get Shorty (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     1|        0|        0|         0|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       5|      Copycat (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    1|          0|    1|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|       6|Shanghai Triad (Y...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       7|Twelve Monkeys (1...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     1|       0|  0|      0|
|       8|         Babe (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         1|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       9|Dead Man Walking ...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|      10|  Richard III (1995)| 22-Jan-1996|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  1|      0|
|      11|Seven (Se7en) (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|      12|Usual Suspects, T...| 14-Aug-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|      13|Mighty Aphrodite ...| 30-Oct-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|      14|  Postino, Il (1994)| 01-Jan-1994|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|
|      15|Mr. Holland's Opu...| 29-Jan-1996|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|      16|French Twist (Gaz...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|
|      17|From Dusk Till Da...| 05-Feb-1996|              null|http://us.imdb.co...|      0|     1|        0|        0|         0|     1|    1|          0|    0|      0|        0|     1|      0|      0|      0|     0|       1|  0|      0|
|      18|White Balloon, Th...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|      19|Antonia's Line (1...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|      20|Angels and Insect...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|
+--------+--------------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
only showing top 20 rows

# Задание №9
Средствами спарка вывести среднюю оценку для каждого фильма

In [ ]:
avg_rating_film = data.groupBy('item id').avg('rating') 
avg_rating_film.show()

+-------+------------------+
|item id|       avg(rating)|
+-------+------------------+
|    496| 4.121212121212121|
|    471|3.6108597285067874|
|    463| 3.859154929577465|
|    148|          3.203125|
|   1342|               2.5|
|    833| 3.204081632653061|
|   1088| 2.230769230769231|
|   1591|3.1666666666666665|
|   1238|             3.125|
|   1580|               1.0|
|   1645|               4.0|
|    392|3.5441176470588234|
|    623| 2.923076923076923|
|    540| 2.511627906976744|
|    858|               1.0|
|    737| 2.983050847457627|
|    243|2.4393939393939394|
|   1025|2.9318181818181817|
|   1084| 3.857142857142857|
|   1127| 2.909090909090909|
+-------+------------------+
only showing top 20 rows

# Задание №10
Посчитайте средствами спарка среднюю оценку для каждого жанра

In [ ]:
item = item.withColumnRenamed('movie id', 'item id')
item = item.withColumnRenamed('Film-Noir', 'Film_Noir')
item = item.withColumnRenamed('Sci-Fi', 'Sci_Fi')
item

DataFrame[item id: int, movie title: string, release date: string, video release date: string, IMDb URL: string, unknown: int, Action: int, Adventure: int, Animation: int, Children_s: int, Comedy: int, Crime: int, Documentary: int, Drama: int, Fantasy: int, Film_Noir: int, Horror: int, Musical: int, Mystery: int, Romance: int, Sci_Fi: int, Thriller: int, War: int, Western: int]

In [ ]:
df_genre_rating = item.join(data, 'item id', how='inner')
df_genre_rating.columns

['item id',
 'movie title',
 'release date',
 'video release date',
 'IMDb URL',
 'unknown',
 'Action',
 'Adventure',
 'Animation',
 'Children_s',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film_Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci_Fi',
 'Thriller',
 'War',
 'Western',
 'user id',
 'rating',
 'timestamp']

Вариант №1

In [ ]:
df_genre_rating.createOrReplaceTempView('gen_rat')

In [ ]:
gen_rat = spark.sql(""" WITH t1 AS (SELECT CASE WHEN unknown = 1 THEN rating ELSE unknown END AS un_rat, 
                                CASE WHEN Action = 1 THEN rating ELSE Action END AS act_rat, 
                                CASE WHEN Adventure = 1 THEN rating ELSE Adventure END AS adv_rat,
                                CASE WHEN Animation = 1 THEN rating ELSE Animation END AS anim_rat,
                                CASE WHEN Children_s = 1 THEN rating ELSE Children_s END AS clrd_rat,
                                CASE WHEN Comedy = 1 THEN rating ELSE Comedy END AS com_rat, 
                                CASE WHEN Crime = 1 THEN rating ELSE Crime END AS cr_rat,
                                CASE WHEN Documentary = 1 THEN rating ELSE Documentary END AS doc_rat,
                                CASE WHEN Drama = 1 THEN rating ELSE Drama END AS drm_rat, 
                                CASE WHEN Fantasy = 1 THEN rating ELSE Fantasy END AS fant_rat, 
                                CASE WHEN Film_Noir = 1 THEN rating ELSE Film_Noir END AS f_n_rat, 
                                CASE WHEN Horror = 1 THEN rating ELSE Horror END AS hor_rat,
                                CASE WHEN Musical = 1 THEN rating ELSE Musical END AS mus_rat,
                                CASE WHEN Mystery = 1 THEN rating ELSE Mystery END AS myst_rat,
                                CASE WHEN Romance = 1 THEN rating ELSE Romance END AS rom_rat, 
                                CASE WHEN Sci_Fi = 1 THEN rating ELSE Sci_Fi END AS s_f_rat,
                                CASE WHEN Thriller = 1 THEN rating ELSE Thriller END AS thrl_rat,
                                CASE WHEN War = 1 THEN rating ELSE War END AS war_rat,
                                CASE WHEN Western = 1 THEN rating ELSE Western END AS west_rat
                                FROM gen_rat),
                                t2 AS 
                                       (SELECT CAST(avg(un_rat) AS DECIMAL (10,2)) AS avg_unknown,
                                       (SELECT CAST(avg(act_rat) AS DECIMAL (10,2)) FROM t1 WHERE act_rat <> 0) AS avg_Action,
                                       (SELECT CAST(avg(adv_rat) AS DECIMAL (10,2)) FROM t1 WHERE adv_rat <> 0) AS avg_Adventure,
                                       (SELECT CAST(avg(anim_rat) AS DECIMAL (10,2)) FROM t1 WHERE anim_rat <> 0) AS avg_Animation,
                                       (SELECT CAST(avg(clrd_rat) AS DECIMAL (10,2)) FROM t1 WHERE clrd_rat <> 0) AS avg_Children_s,
                                       (SELECT CAST(avg(com_rat) AS DECIMAL (10,2)) FROM t1 WHERE com_rat <> 0) AS avg_Comedy,
                                       (SELECT CAST(avg(cr_rat) AS DECIMAL (10,2)) FROM t1 WHERE cr_rat <> 0) AS avg_Crime,
                                       (SELECT CAST(avg(doc_rat) AS DECIMAL (10,2)) FROM t1 WHERE doc_rat <> 0) AS avg_Documentary,
                                       (SELECT CAST(avg(drm_rat) AS DECIMAL (10,2)) FROM t1 WHERE drm_rat <> 0) AS avg_Drama,
                                       (SELECT CAST(avg(fant_rat) AS DECIMAL (10,2)) FROM t1 WHERE fant_rat <> 0) AS avg_Fantasy,
                                       (SELECT CAST(avg(f_n_rat) AS DECIMAL (10,2)) FROM t1 WHERE f_n_rat <> 0) AS avg_Film_Noir,
                                       (SELECT CAST(avg(hor_rat) AS DECIMAL (10,2)) FROM t1 WHERE hor_rat <> 0) AS avg_Horror,
                                       (SELECT CAST(avg(mus_rat) AS DECIMAL (10,2)) FROM t1 WHERE mus_rat <> 0) AS avg_Musical,
                                       (SELECT CAST(avg(myst_rat) AS DECIMAL (10,2)) FROM t1 WHERE myst_rat <> 0) AS avg_Mystery,
                                       (SELECT CAST(avg(rom_rat) AS DECIMAL (10,2)) FROM t1 WHERE rom_rat <> 0) AS avg_Romance,
                                       (SELECT CAST(avg(s_f_rat) AS DECIMAL (10,2)) FROM t1 WHERE s_f_rat <> 0) AS avg_Sci_Fi,
                                       (SELECT CAST(avg(thrl_rat) AS DECIMAL (10,2)) FROM t1 WHERE thrl_rat <> 0) AS avg_Thriller,
                                       (SELECT CAST(avg(war_rat) AS DECIMAL (10,2)) FROM t1 WHERE war_rat <> 0) AS avg_War,
                                       (SELECT CAST(avg(west_rat) AS DECIMAL (10,2)) FROM t1 WHERE west_rat <> 0) AS avg_Western
                                FROM t1
                                WHERE un_rat <> 0)
                                SELECT 'unknown' AS genre, avg_unknown AS mark FROM t2
                                UNION
                                SELECT 'Action' AS genre, avg_Action AS mark FROM t2
                                UNION
                                SELECT 'Adventure' AS genre, avg_Adventure AS mark FROM t2
                                UNION
                                SELECT 'Animation' AS genre, avg_Animation AS mark FROM t2
                                UNION
                                SELECT 'Children_s' AS genre, avg_Children_s AS mark FROM t2
                                UNION
                                SELECT 'Comedy' AS genre, avg_Comedy AS mark FROM t2
                                UNION
                                SELECT 'Crime' AS genre, avg_Crime AS mark FROM t2
                                UNION
                                SELECT 'Documentary' AS genre, avg_Documentary AS mark FROM t2
                                UNION
                                SELECT 'Drama' AS genre, avg_Drama AS mark FROM t2
                                UNION
                                SELECT 'Fantasy' AS genre, avg_Fantasy AS mark FROM t2
                                UNION
                                SELECT 'Film_Noir' AS genre, avg_Film_Noir AS mark FROM t2
                                UNION
                                SELECT 'Horror' AS genre, avg_Horror AS mark FROM t2
                                UNION
                                SELECT 'Musical' AS genre, avg_Musical AS mark FROM t2
                                UNION
                                SELECT 'Mystery' AS genre, avg_Mystery AS mark FROM t2
                                UNION
                                SELECT 'Romance' AS genre, avg_Romance AS mark FROM t2
                                UNION
                                SELECT 'Sci_Fi' AS genre, avg_Horror AS mark FROM t2
                                UNION
                                SELECT 'Thriller' AS genre, avg_Thriller AS mark FROM t2
                                UNION
                                SELECT 'War' AS genre, avg_War AS mark FROM t2
                                UNION
                                SELECT 'Western' AS genre, avg_Western AS mark FROM t2""").show()

+-----------+----+
|      genre|mark|
+-----------+----+
|    unknown|3.20|
|     Action|3.48|
|  Adventure|3.50|
|  Animation|3.58|
| Children_s|3.35|
|     Comedy|3.39|
|      Crime|3.63|
|Documentary|3.67|
|      Drama|3.69|
|    Fantasy|3.22|
|  Film_Noir|3.92|
|     Horror|3.29|
|    Musical|3.52|
|    Mystery|3.64|
|    Romance|3.62|
|     Sci_Fi|3.29|
|   Thriller|3.51|
|        War|3.82|
|    Western|3.61|
+-----------+----+

Вариант №2

In [ ]:
from pyspark.sql.functions import avg, count

In [ ]:
#Поиск средней оценки для жанра unknown
df_genre_rating.filter(df_genre_rating.unknown == 1).select(avg('rating')).show()

+-----------+
|avg(rating)|
+-----------+
|        3.2|
+-----------+

In [ ]:
#Поиск средней оценки для жанра Action
df_genre_rating.filter(df_genre_rating.Action == 1).select(avg('rating')).show()

+-----------------+
|      avg(rating)|
+-----------------+
|3.480245417953027|
+-----------------+

In [ ]:
#Поиск средней оценки для жанра Adventure
df_genre_rating.filter(df_genre_rating.Adventure == 1).select(avg('rating')).show()

+-----------------+
|      avg(rating)|
+-----------------+
|3.503526503308369|
+-----------------+

In [ ]:
#Поиск средней оценки для жанра Animation
df_genre_rating.filter(df_genre_rating.Animation == 1).select(avg('rating')).show()

+------------------+
|       avg(rating)|
+------------------+
|3.5766990291262135|
+------------------+

In [ ]:
#Поиск средней оценки для жанра Children_s
df_genre_rating.filter(df_genre_rating.Children_s == 1).select(avg('rating')).show()

+------------------+
|       avg(rating)|
+------------------+
|3.3532442216652742|
+------------------+

In [ ]:
#Поиск средней оценки для жанра Comedy
df_genre_rating.filter(df_genre_rating.Comedy == 1).select(avg('rating')).show()

+------------------+
|       avg(rating)|
+------------------+
|3.3940734781442745|
+------------------+

In [ ]:
#Поиск средней оценки для жанра Crime
df_genre_rating.filter(df_genre_rating.Crime == 1).select(avg('rating')).show()

+------------------+
|       avg(rating)|
+------------------+
|3.6322780881440098|
+------------------+

In [ ]:
#Поиск средней оценки для жанра Documentary
df_genre_rating.filter(df_genre_rating.Documentary == 1).select(avg('rating')).show()

+------------------+
|       avg(rating)|
+------------------+
|3.6728232189973613|
+------------------+

In [ ]:
#Поиск средней оценки для жанра Drama
df_genre_rating.filter(df_genre_rating.Drama == 1).select(avg('rating')).show()

+------------------+
|       avg(rating)|
+------------------+
|3.6873793708484772|
+------------------+

In [ ]:
#Поиск средней оценки для жанра Fantasy
df_genre_rating.filter(df_genre_rating.Fantasy == 1).select(avg('rating')).show()

+------------------+
|       avg(rating)|
+------------------+
|3.2152366863905324|
+------------------+

In [ ]:
#Поиск средней оценки для жанра Film-Noir
df_genre_rating.filter(df_genre_rating.Film_Noir == 1).select(avg('rating')).show()

+------------------+
|       avg(rating)|
+------------------+
|3.9215233698788228|
+------------------+

In [ ]:
#Поиск средней оценки для жанра Horror
df_genre_rating.filter(df_genre_rating.Horror == 1).select(avg('rating')).show()

+------------------+
|       avg(rating)|
+------------------+
|3.2903893172841827|
+------------------+

In [ ]:
#Поиск средней оценки для жанра Musical
df_genre_rating.filter(df_genre_rating.Musical == 1).select(avg('rating')).show()

+-----------------+
|      avg(rating)|
+-----------------+
|3.521396851029471|
+-----------------+

In [ ]:
#Поиск средней оценки для жанра Mystery
df_genre_rating.filter(df_genre_rating.Mystery == 1).select(avg('rating')).show()

+----------------+
|     avg(rating)|
+----------------+
|3.63813155386082|
+----------------+

In [ ]:
#Поиск средней оценки для жанра Romance
df_genre_rating.filter(df_genre_rating.Romance == 1).select(avg('rating')).show()

+-----------------+
|      avg(rating)|
+-----------------+
|3.621704948358255|
+-----------------+

In [ ]:
#Поиск средней оценки для жанра Sci-Fi
df_genre_rating.filter(df_genre_rating.Sci_Fi == 1).select(avg('rating')).show()

+------------------+
|       avg(rating)|
+------------------+
|3.5607227022780834|
+------------------+

In [ ]:
#Поиск средней оценки для жанра Thriller
df_genre_rating.filter(df_genre_rating.Thriller == 1).select(avg('rating')).show()

+------------------+
|       avg(rating)|
+------------------+
|3.5090069495245064|
+------------------+

In [ ]:
#Поиск средней оценки для жанра War
df_genre_rating.filter(df_genre_rating.War == 1).select(avg('rating')).show()

+-----------------+
|      avg(rating)|
+-----------------+
|3.815811874866993|
+-----------------+

In [ ]:
#Поиск средней оценки для жанра Western
df_genre_rating.filter(df_genre_rating.Western == 1).select(avg('rating')).show()

+------------------+
|       avg(rating)|
+------------------+
|3.6132686084142396|
+------------------+

In [ ]:
data = [['Action',3.480245417953027],
        ['Animation',3.5766990291262135],
        ['Children_s',3.3532442216652742],
        ['Comedy',3.3940734781442745],
        ['Crime',3.6322780881440098],
        ['Documentary',3.6728232189973613],
        ['Drama',3.6873793708484772],
        ['Fantasy',3.2152366863905324],
        ['Film_Noir',3.9215233698788228],
        ['Horror',3.2903893172841827],
        ['Musical',3.521396851029471],
        ['Mystery',3.63813155386082],
        ['Romance',3.621704948358255],
        ['Sci_Fi',3.5607227022780834],
        ['Thriller',3.5090069495245064],
        ['unknown',  3.2],
        ['War',3.815811874866993],
        ['Western',3.6132686084142396]]

In [ ]:
columns = ['Genre', 'AVG_rating']

In [ ]:
df_avg_rating = spark.createDataFrame(data, columns).show()

+-----------+------------------+
|      Genre|        AVG_rating|
+-----------+------------------+
|     Action| 3.480245417953027|
|  Animation|3.5766990291262135|
| Children_s|3.3532442216652742|
|     Comedy|3.3940734781442745|
|      Crime|3.6322780881440098|
|Documentary|3.6728232189973613|
|      Drama|3.6873793708484772|
|    Fantasy|3.2152366863905324|
|  Film_Noir|3.9215233698788228|
|     Horror|3.2903893172841827|
|    Musical| 3.521396851029471|
|    Mystery|  3.63813155386082|
|    Romance| 3.621704948358255|
|     Sci_Fi|3.5607227022780834|
|   Thriller|3.5090069495245064|
|    unknown|               3.2|
|        War| 3.815811874866993|
|    Western|3.6132686084142396|
+-----------+------------------+

# Задание №11
В спарке получить 2 датафрейма с 5-ю самыми популярными и самыми непопулярными фильмами (по количеству оценок, либо по самой оценке - на Ваш выбор)

In [ ]:
movie_cnt_rating = data.groupBy('item id').count()

In [ ]:
movie_cnt_rating.show()

+-------+-----+
|item id|count|
+-------+-----+
|    496|  231|
|    471|  221|
|    463|   71|
|    148|  128|
|   1342|    2|
|    833|   49|
|   1088|   13|
|   1591|    6|
|   1238|    8|
|   1580|    1|
|   1645|    1|
|    392|   68|
|    623|   39|
|    540|   43|
|    858|    3|
|    737|   59|
|    243|  132|
|   1025|   44|
|   1084|   21|
|   1127|   11|
+-------+-----+
only showing top 20 rows

In [ ]:
movie_cnt_rating = movie_cnt_rating.join(item, 'item id', how='inner')

In [ ]:
movie_cnt_rating = movie_cnt_rating.select('movie title', 'count')
movie_cnt_rating.show()

+--------------------+-----+
|         movie title|count|
+--------------------+-----+
|It's a Wonderful ...|  231|
|Courage Under Fir...|  221|
|Secret of Roan In...|   71|
|Ghost and the Dar...|  128|
|Convent, The (Con...|    2|
|  Bulletproof (1996)|   49|
|  Double Team (1997)|   13|
|Duoluo tianshi (1...|    6|
|   Full Speed (1996)|    8|
|     Liebelei (1933)|    1|
|Butcher Boy, The ...|    1|
|Man Without a Fac...|   68|
|Angels in the Out...|   39|
|  Money Train (1995)|   43|
|Amityville: Dollh...|    3|
|       Sirens (1994)|   59|
|Jungle2Jungle (1997)|  132|
|Fire Down Below (...|   44|
|Anne Frank Rememb...|   21|
|Truman Show, The ...|   11|
+--------------------+-----+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import desc, asc, col

In [ ]:
#5 самых популярных фильмов по количеству оценок
max_qty = movie_cnt_rating.sort(col('count').desc())
max_qty.show(5)

+--------------------+-----+
|         movie title|count|
+--------------------+-----+
|    Star Wars (1977)|  583|
|      Contact (1997)|  509|
|        Fargo (1996)|  508|
|Return of the Jed...|  507|
|    Liar Liar (1997)|  485|
+--------------------+-----+
only showing top 5 rows

In [ ]:
# 5 самых непопулярных фильмов по количеству оценок
min_qty = movie_cnt_rating.sort(col('count').asc())
min_qty.show(5)

+--------------------+-----+
|         movie title|count|
+--------------------+-----+
|    Sleepover (1995)|    1|
|King of New York ...|    1|
|Stefano Quantesto...|    1|
|Butcher Boy, The ...|    1|
|Butcher Boy, The ...|    1|
+--------------------+-----+
only showing top 5 rows